font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;

body{
	color: #777373;
    font: normal normal 14px Roboto;
    line-height: 26px;
    letter-spacing: 0px;
    text-transform: none;
    background-color: #ffffff;
}
ul{
	list-style: none;
}
li{
	display: list-item;
    text-align: -webkit-match-parent;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}
a{
	text-decoration: none;
    color: #777777;
}
a:hover{
	text-decoration: none;
	color: #777777;
}

#navbar{
	height: 40px;
    z-index: 999;
    line-height: 40px;
    width: 100%;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}
#navbar li a {
    font: 10px Open Sans;
    font-weight: 400;
    letter-spacing: 2px;
    color: #ffffff;
    line-height: 40px;
    text-transform: uppercase;
    display: inline-block;
}

#footer{
	height: 150px;
    width: 100%;
    background-color: black;
    margin-top: 30px;
    padding: 30px;
    font: 10px Open Sans;
    font-weight: 400;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
    display: inline-block;
}

#post-footer{
	height: 30px;
	line-height: 30px;
	width: 100%;
    background-color: white;
    font: 10px Open Sans;
    font-weight: 400;
    letter-spacing: 2px;
    color: black;
    text-transform: uppercase;
}

#content{
	margin-top: 20px;
}

#content h1{
	text-align: center;
    font: normal bold 66px Open Sans;
    margin-top: 80px;
    margin-bottom: 60px;

}
#content h1 span{
	color: #F83030;
	font: normal 100 39px Open Sans;
}

#menu{
	height: 80px;
    border-top: 1px solid #f8f4f4;
    border-bottom: 1px solid #f8f4f4;
    line-height: 80px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Roboto;
    color: black;
}

#menu a{
	color: rgba(0,0,0,.7);
}

#blog{
	margin-top: 30px;
}

#article{
	text-align: center;
	border-bottom: 1px solid #f8f4f4;
	margin-bottom: 20px;

}
#article img{
	width: 100%;
}
#article .title{
    color: black;
    font-family: Open Sans;
    padding: 15px;
    font-weight: bold;
    font-size: 12px;
}
#article .content{

}

.about{
	text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Open sans;
    color: rgba(0,0,0,0.7);
    font-size: 13px;
	border-left: 1px solid #f8f4f4;
	padding: 20px;
}
.about img{
	width:100%;
    padding: 20px;
}

#main-article .title{
	font-family: roboto;
    font-weight: bold;
    font-size: 18px;
}
#main-article img{
	margin: 30px;
	max-width: 100%;
	max-height: 300px;
}
#main-article .img{
	text-align: center;
}
#main-article .content{

}

.loadingforupload {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 1);
    z-index: 10000;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #FFF;
}

#connexion{
	position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 1);
    height: 100%;
    width: 100%;
    text-align: center;
    color: #FFF;
}

#connexion h1{
	text-align: center;
    font: normal bold 66px Open Sans;
    margin-top: 80px;
    margin-bottom: 60px;

}
#connexion h1 span{
	color: #F83030;
	font: normal 100 39px Open Sans;
}
#connexion img{
	position: absolute;
	right: 0px;
    margin: 20px;
    width: 60px;
    -webkit-filter: invert(100%);
}
#connexion input{
	text-align: center;
    background-color: black;
    border: 0;
    width: 400px;
    margin: 15px;
    font-size: 16px;
    text-align: center;
    color: white;
    font-family: roboto;
}
#connexion input:focus{
    outline: none;
}

.success{
	height: 50px;
    width: 200px;
    background-color: rgba(43, 255, 0, 0.7);
    position: absolute;
    right: 0;
    margin: 25px;
    border-radius: 4px;
	line-height: 50px;
    font-family: roboto;
    font-size: 17px;
}

#new input{
    width: 100%;
    border: 0;
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    font-family: roboto;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
#new input:focus{
    outline: none;
}
#new input[type=submit]{
    background-color: black;
    width: 200px;
    height: 40px;
    border: 0;
    color: white;
    font-weight: 100;
    margin-top: 30px;
    float: right;
}